/* Global Styles */
* {

    box-sizing: border-box;
    /* outline: 1px solid red; */
    /* This will outline every element, helping you see which ones are overflowing */
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    /* overflow-x: hidden; Prevents horizontal scroll */
}


.container {
    width: 100%;
    padding: 0 15px;
    /* Ensures full use of the viewport without overflow */
}




.navbar {
    background-color: #343a40;
    padding: 1rem 2rem;
    box-shadow:0 4px 8px rgb(0 0 0 /50%);
    position: relative;
}

.navbar .nav-link {
    color: #000000 ;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
}

.navbar .nav-link:hover {
    text-decoration: underline;
}

/* Adjust navbar-toggler styles */
.navbar .navbar-toggler {
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

.navbar .navbar-toggler-icon {
    width: 1.7rem;
    height: 1.3rem;
    background-color: #f8f9fa;
}

/* Logo styling */
#logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
}

#logo .news {
    color: #dc3545;;
}

#logo .spire {
    color: rgb(0, 0, 0);
}

/* Navbar collapse behavior */


.class li a {
    color:#dc3545;;
}

/* Card Styling */
.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem;
    transition: transform 0.2s ease-in-out;
    min-width: 250px;
    max-width: 100%;
    background-color: white;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Cards Wrapper */
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
    max-width: 100%;
}

img, iframe {
    max-width: 100%;
    height: auto;
}

/* Button Styling */
.btn-primary {
    background-color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #dc3545;
    transform: translateY(-3px);
}

/* Pagination Styling */
.pagination .page-link {
    background-color: #f8f9fa;
    color: black;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    margin: 1px;

}

.pagination .page-link:hover {
    background-color:#dc3545;;
    color: rgb(255, 255, 255);
}

/* Carousel Styling */
.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #3498db;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 40%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Footer Styling */
footer {
    background-color: white;
    color: #ff0000;
    padding: 2rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

footer .footer-content a {
    color: #ff0000;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

footer .footer-social {
    margin-top: 1rem;
}

footer .footer-social a {
    color: #dc3545;;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
}

footer a {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}

footer a:hover {
    color: #ff6347;
    text-decoration: underline;
}

/* General Links */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

/* Logo */
/* #logo {
    font-size: 3rem;
    font-weight: normal;
}

#logo .news {
    color: red;
    font-weight: bold;
}

#logo .spire {
    color: black;
    font-weight: bold;
} */

/* Login page */
.login-container {
    height: 100vh;
}

.login-box {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-box h3 {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.btn-newsspire {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-newsspire:hover {
    background-color: #000;
    color: #dc3545;
}

.form-control:focus {
    border-color: black;
    box-shadow: none;
}

a {
    color: #dc3545;
    text-decoration: none;
}

a:hover {
    color: #000;
}

/* Register page */
.register-box h3 {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.register-container {
    height: 100vh;
}

.register-box {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group-text i {
    color: black;
}

.form-label {
    margin-bottom: 0.5rem;
}

.form-control {
    padding-left: 2.5rem;
}

.row .col-6 {
    padding-right: 0.5rem;
}

.row .col-6:last-child {
    padding-left: 0.5rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    /* Adjust Navbar for tablets */
    .navbar {
        padding: 1rem;
    }

    .navbar .nav-link {
        font-size: 1rem;
    }

    #logo {
        font-size: 2rem;
    }

    /* Adjust cards for tablets */
    .card {
        width: 90%;
        margin: 1rem auto;
    }

    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }

    /* Adjust carousel for smaller screens */
    .carousel-inner {
        display: block;
    }
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 30px;
        width: 100%;
        max-width: 300px;
    }

    .card-title {
        font-size: 1.25rem;
    }

    /* Navbar on small screens */
    .navbar-nav {
        text-align: start;
        margin-top: 10px;
    }

    #logo {
        font-size: 2rem;
    }

    /* Adjust form container */
    .login-box,
    .register-box {
        max-width: 350px;
        padding: 1rem;
    }

    /* Cards on smaller screens */
    .carousel-item {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    input[type="search"] {
        padding: 0.1rem 0.3rem; /* Adjust padding */
        width: 100%; /* Full width on small screens */
    }

    button[type="submit"] {
        font-size :0.90 rem; ;
        padding: 0rem 0.30rem; /* Adjust padding */
        width: 50%;  /* Full width for button */
    }
    .card {
        margin-bottom: 15px;
        /* Reduce card size for small screens */
    }

    .card-title {
        font-size: 1rem;
    }

    .btn-primary {
        width: 100%;
    }

    /* Adjust Navbar for mobile */
    .navbar {
        padding: 1rem;
    }

    .navbar .nav-link {
        font-size: 1rem;
    }

    #logo {
        font-size: 1.6rem;
    }
}
